/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
    max-width 450px!important

img[src*='#left']
    float left
    margin-right 10px

img[src*='#right']
    float right
    margin-left 10px

img[src*='#center']
    display block
    margin auto
